body{
  background-color: #f5f5f5;  
}

.noUi-base{
	margin-left:auto; 
	margin-right:auto; 
	width:70%;
}
.noUi-handle {
	width: 10px;
	margin-left: 0;
	cursor: e-resize;
}

circle{
	fill: #ff6500;
	stroke: #f5f5f5;
	stroke-width: 1;	
}
circle:hover{
	cursor: crosshair;
}

.country {
	fill: #9f9fa3;
	stroke: #f5f5f5;	
}

.slider-control-right {
	position: absolute;
	right: 15%;
	z-index: 99;
	font-size: 30px;
	margin-right: -35px;
	cursor: pointer;
	color: #6d6E70;	
}
.slider-control-left{
	position: absolute;
	left: 15%;
	z-index: 99;
	font-size: 30px;
	margin-left: -35px;
	cursor: pointer;	
	color: #6d6E70;	
}

#dateSlider {
	position: relative;
}

.arc-logo {
	position: absolute;
	top: 20px;
	right: 40px;
	height: 60px;
}
.appeal-tooltip {
	position: absolute;
	z-index:10;
	visibility: hidden;
	font-weight: bold;	
}