body{
  background-color: #f5f5f5;  
}


.none {
	fill:none;
}
.sixMonth {
	fill: red;  
}
.fiveMonth{
	fill: blue;
}
.fourMonth{
	fill: green;
}
.threeMonth{
	fill: black;
}
.twoMonth{
	fill: white;
}
.oneMonth {
	fill: orange;	
}



.country {
	fill: #9f9fa3;
	stroke: #f5f5f5;	
}

.arc-logo {
	position: absolute;
	top: 20px;
	right: 40px;
	height: 60px;
}